@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

* {
    color: black;
}

body {
    font-family: 'Source Sans Pro';
    background-color: #eee;

}

header {
    font-family: 'Abril Fatface'
}

.newspaper-container {
    background-color: white;
    box-shadow: #ddd;
    width: 90%;
    border-radius: 0.5em;
}

nav {
    color: #777;
    border-style: solid;
    border-left: none;
    border-right: none;
    text-align: center;
}

main > h5 {
    color: #dd3232;
}

nav > ul > li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0em;
    padding: 0em 2em;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab';
}

.more-articles {
    margin: 0em;
    padding: 1em;
    text-align: left;
}
section {
    width: 49%;
    display: inline-block;
}

main {
    border-bottom: solid #777;
}